.App {
  text-align: center;
  background-color: rgb(238, 238, 238);
  height: 100%;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-item {
  margin: 8px;
}

/* This is the class for all Grid items */
.MuiGrid-item {
  margin-top: 15px;
  height: 800px;
  border-bottom: dotted gray 1px;
}

.hero,
.about-me,
.kid,
.family,
.school,
.work,
.hmu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.fab {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
