.App {
  text-align: center;
  color: rgb(49, 49, 49);
  background-color: #5b98ed13;
  height: 100%;
}

@font-face {
  font-family: "SFFedora";
  src: local("SFFedora"), url("./fonts/SF_Fedora.ttf") format("truetype");
  font-weight: normal;
}

.MuiTypography-h1,
.MuiTypography-h3,
.nineties-kid {
  font-family: SFFedora;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
}

.nav-item {
  margin: 8px;
}

/* This is the class for all Grid items */
.MuiGrid-item {
  margin-top: 15px;
  min-height: 800px;
  border-bottom: dotted gray 1px;
}

.profileImg {
  display: flex;
  width: 80%;
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgb(134, 134, 134);
}

.squiggle {
  position: relative;
  left: 275px;
  bottom: 100px;
  animation: 20s spin-right linear infinite;
  z-index: 0;
}

.swirl {
  position: relative;
  width: 5%;
  left: 400px;
  bottom: 100px;
  animation: 10s spin-left linear infinite;
}

.triangle {
  position: relative;
  left: 450px;
  top: 400px;
  width: 5%;
  animation: 10s spin-left linear infinite;
}

.diamond {
  position: relative;
  left: 350px;
  bottom: -70px;
  animation: 15s spin-right linear infinite;
  width: 5%;
}

.nineties {
  z-index: -1;
  position: absolute;
  bottom: 160px;
  width: 60%;
  transform: rotate(35deg);
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-left {
  100% {
    transform: rotate(-360deg);
  }
}

.hero-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kid-2 {
  text-align: left;
}

.hero,
.about-me,
.kid,
.education,
.work,
.hmu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: rgb(120, 120, 120);
}

.fab {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.work-grid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}

.work-grid-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 100%;
  width: 100%;
}

.MuiCard-root {
  padding: 15px;
  border-radius: 15px;
}

.more-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.MuiButton-root {
  margin-top: 10px;
  margin-right: 5px;
}

.resume-button {
  margin: 0px;
  margin-right: 10px;
}

@media only screen and (max-width: 450px) {
  .nav {
    visibility: hidden;
  }

  .hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .MuiMenu-paper {
    border-radius: 15px;
  }

  .nineties {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    transform: rotate(0deg);
    overflow: hidden;
  }

  .squiggle {
    position: relative;
    left: 300px;
    bottom: 50px;
    animation: 20s spin-right linear infinite;
    z-index: 0;
  }

  .triangle {
    position: relative;
    left: 160px;
    bottom: 80px;
    width: 5%;
    animation: 10s spin-left linear infinite;
  }

  .swirl {
    position: relative;
    width: 5%;
    left: 80px;
    bottom: 30px;
    animation: 10s spin-left linear infinite;
  }

  .diamond {
    position: relative;
    right: 100px;
    bottom: -20px;
    animation: 15s spin-right linear infinite;
    width: 5%;
  }

  .MuiTypography-h1,
  .MuiTypography-h3,
  .nineties-kid {
    font-family: SFFedora;
  }
}

@media only screen and (min-width: 450px) {
  .hamburger {
    visibility: hidden;
  }
}
