.App {
  text-align: center;
  color: rgb(40, 40, 40);
  background-color: #5b98ed13;
  height: 100%;
}

@font-face {
  font-family: "SFFedora";
  src: local("SFFedora"), url("./fonts/SF_Fedora.ttf") format("truetype");
  font-weight: normal;
}

.MuiTypography-h1,
.MuiTypography-h3 {
  font-family: SFFedora;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
}

.nav-item {
  margin: 8px;
}

/* This is the class for all Grid items */
.MuiGrid-item {
  margin-top: 15px;
  min-height: 800px;
  border-bottom: dotted gray 1px;
}

.profileImg {
  display: flex;
  width: 350px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgb(134, 134, 134);
}

.hero-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kid-2 {
  text-align: left;
}

.hero,
.about-me,
.kid,
.family,
.school,
.work,
.hmu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: rgb(120, 120, 120);
}

.fab {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.work-grid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}

.work-grid-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 100%;
  width: 100%;
}

.MuiCard-root {
  padding: 15px;
  border-radius: 15px;
}

.more-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.MuiButton-root {
  margin-top: 10px;
  margin-right: 5px;
}

.resume-button {
  margin: 0px;
  margin-right: 10px;
}

@media only screen and (max-width: 450px) {
  .nav {
    visibility: hidden;
  }

  .hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .MuiMenu-paper {
    border-radius: 15px;
  }
}

@media only screen and (min-width: 450px) {
  .hamburger {
    visibility: hidden;
  }
}
