.App {
  text-align: center;
  background-color: rgb(238, 238, 238);
  height: 100%;
  font-family: SFFedora;
}

@font-face {
  font-family: "SFFedora";
  src: local("SFFedora"), url("./fonts/SF_Fedora.ttf") format("truetype");
  font-weight: normal;
}

.MuiTypography-h1,
.MuiTypography-h3 {
  font-family: SFFedora;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
}

.nav-item {
  margin: 8px;
}

/* This is the class for all Grid items */
.MuiGrid-item {
  margin-top: 15px;
  height: 800px;
  border-bottom: dotted gray 1px;
}

.profileImg {
  display: flex;
  width: 350px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgb(134, 134, 134);
}

.hero-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kid-2 {
  text-align: left;
}

.hero,
.about-me,
.kid,
.family,
.school,
.work,
.hmu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fab {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
